# Importar Pandas

In [8]:
#importa pandas
import pandas as pd

# Crear una Serie

Explore series en python en el siguiente [link](https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html) en las primeras lineas del documento

In [14]:
# Crea una Serie de los numeros 10, 20 and 10.
series = pd.Series([10,20,10])
series

0    10
1    20
2    10
dtype: int64

In [17]:
# Crea una Serie con tres objetos: 'rojo', 'verde', 'azul'
colores = pd.Series(['rojo','verde','azul'])
colores

0     rojo
1    verde
2     azul
dtype: object

# Crear un Dataframe

In [21]:
# Crea un dataframe vacío llamado 'df'
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [39]:
# Crea una nueva columna en el dataframe, y asignale la primera serie que has creado
import pandas as pd
columna = {'series':[10,20,10]}

df = pd.DataFrame(data=columna)
df

   series
0      10
1      20
2      10

In [42]:
# Crea otra columna en el dataframe y asignale la segunda Serie que has creado
df.assign(colores=lambda x:['rojo','verde','azul'])

   series colores
0      10    rojo
1      20   verde
2      10    azul

# Leer un dataframe

In [43]:
# Lee el archivo llamado 'avengers.csv" localizado en la carpeta "data" y crea un DataFrame, llamado 'avengers'. 
# El archivo está localizado en "data/avengers.csv"

df_avengers = pd.read_csv("./src/pandas/avengers.csv")

# Inspeccionar un dataframe

In [44]:
# Muestra las primeras 5 filas del DataFrame.
df_avengers.head(5)

,URL,nombre,n_apariciones,actual,genero,fecha_inicio,Notes
0,http://marvel.wikia.com/Henry_Pym_(Earth-616),"Henry Jonathan ""Hank"" Pym",1269,YES,MALE,1963,Merged with Ultron in Rage of Ultron Vol. 1. A...
1,http://marvel.wikia.com/Janet_van_Dyne_(Earth-...,Janet van Dyne,1165,YES,FEMALE,1963,Dies in Secret Invasion V1:I8. Actually was se...
2,http://marvel.wikia.com/Anthony_Stark_(Earth-616),"Anthony Edward ""Tony"" Stark",3068,YES,MALE,1963,"Death: ""Later while under the influence of Imm..."
3,http://marvel.wikia.com/Robert_Bruce_Banner_(E...,Robert Bruce Banner,2089,YES,MALE,1963,"Dies in Ghosts of the Future arc. However ""he ..."
4,http://marvel.wikia.com/Thor_Odinson_(Earth-616),Thor Odinson,2402,YES,MALE,1963,Dies in Fear Itself brought back because that'...

In [63]:
# Muestra las primeras 10 filas del DataFrame. 
df_avengers.head(10)

,index,URL,nombre,n_apariciones,actual,genero,inicio_fecha,Notes
0,0,http://marvel.wikia.com/Henry_Pym_(Earth-616),"Henry Jonathan ""Hank"" Pym",1269,YES,MALE,1963,Merged with Ultron in Rage of Ultron Vol. 1. A...
1,1,http://marvel.wikia.com/Janet_van_Dyne_(Earth-...,Janet van Dyne,1165,YES,FEMALE,1963,Dies in Secret Invasion V1:I8. Actually was se...
2,2,http://marvel.wikia.com/Anthony_Stark_(Earth-616),"Anthony Edward ""Tony"" Stark",3068,YES,MALE,1963,"Death: ""Later while under the influence of Imm..."
3,3,http://marvel.wikia.com/Robert_Bruce_Banner_(E...,Robert Bruce Banner,2089,YES,MALE,1963,"Dies in Ghosts of the Future arc. However ""he ..."
4,4,http://marvel.wikia.com/Thor_Odinson_(Earth-616),Thor Odinson,2402,YES,MALE,1963,Dies in Fear Itself brought back because that'...
5,5,http://marvel.wikia.com/Richard_Jones_(Earth-616),Richard Milhouse Jones,612,YES,MALE,1963,NaN
6,6,http://marvel.wikia.com/Steven_Rogers_(Earth-616),Steven Rogers,3458,YES,MALE,1964,Dies at the end of Civil War. Later comes back.
7,7,http://marvel.wikia.com/Clint_Barton_(Earth-616),Clinton Francis Barton,1456,YES,MALE,1965,Dies in exploding Kree ship in Averngers Vol. ...
8,8,http://marvel.wikia.com/Pietro_Maximoff_(Earth...,Pietro Maximoff,769,YES,MALE,1965,Dies in House of M Vol 1 Issue 7. Later comes ...
9,9,http://marvel.wikia.com/Wanda_Maximoff_(Earth-...,Wanda Maximoff,1214,YES,FEMALE,1965,Dies in Uncanny_Avengers_Vol_1_14. Later comes...

In [62]:
# Muestra las últimas 5 filas del DataFrame.

df_avengers.tail(5)

,index,URL,nombre,n_apariciones,actual,genero,inicio_fecha,Notes
168,168,http://marvel.wikia.com/Eric_Brooks_(Earth-616)#,Eric Brooks,198,YES,MALE,2013,NaN
169,169,http://marvel.wikia.com/Adam_Brashear_(Earth-6...,Adam Brashear,29,YES,MALE,2014,NaN
170,170,http://marvel.wikia.com/Victor_Alvarez_(Earth-...,Victor Alvarez,45,YES,MALE,2014,NaN
171,171,http://marvel.wikia.com/Ava_Ayala_(Earth-616)#,Ava Ayala,49,YES,FEMALE,2014,NaN
172,172,http://marvel.wikia.com/Kaluu_(Earth-616)#,Kaluu,35,YES,MALE,2015,NaN

# Tamaño del DataFrame

In [48]:
# Muestra el tamaño del DataFrame
df_avengers.size

1211

# Data types en un DataFrame

In [53]:
# Muestra los data types del dataframe
df_avengers = pd.read_csv("./src/pandas/avengers.csv")
df_avengers.dtypes

URL              object
nombre           object
n_apariciones     int64
actual           object
genero           object
fecha_inicio      int64
Notes            object
dtype: object

# Editar el indice (index)

In [55]:
# Cambia el indice a la columna "fecha_inicio".

df_avengers = df_avengers.rename(columns={'fecha_inicio': 'inicio_fecha'})

# Ordenar el indice

In [61]:
# Ordena el índice de forma descendiente
df_avengers.sort_values(by=['URL','nombre'], ascending=[False,True])

,index,URL,nombre,n_apariciones,actual,genero,inicio_fecha,Notes
23,23,http://marvel.wikia.com/Yondu_Udonta_(Earth-691)#,Yondu Udonta,109,NO,MALE,1978,NaN
97,97,http://marvel.wikia.com/William_Kaplan_(Earth-...,"William ""Billy"" Kaplan",123,YES,MALE,2005,NaN
76,76,http://marvel.wikia.com/William_Baker_(Earth-6...,William Baker,355,NO,MALE,1900,Died in Identity_Disc_Vol_1_1. Later was revea...
59,59,http://marvel.wikia.com/Wendell_Vaughn_(Earth-...,Wendell Elvis Vaughn,293,NO,MALE,1989,Killed by the Cosmic Assassin. Actually turned...
9,9,http://marvel.wikia.com/Wanda_Maximoff_(Earth-...,Wanda Maximoff,1214,YES,FEMALE,1965,Dies in Uncanny_Avengers_Vol_1_14. Later comes...
...,...,...,...,...,...,...,...,...
144,144,http://marvel.wikia.com/Alexander_Summers_(Ear...,Alex Summers,592,YES,MALE,2012,NaN
129,129,http://marvel.wikia.com/Alani_Ryan_(Earth-616)#,Alani Ryan,73,YES,FEMALE,1900,NaN
169,169,http://marvel.wikia.com/Adam_Brashear_(Earth-6...,Adam Brashear,29,YES,MALE,2014,NaN
154,154,http://marvel.wikia.com/Abyss_(Ex_Nihilo%27s)_...,NaN,25,YES,FEMALE,2013,Died in New_Avengers_Vol_3_32
47,47,http://marvel.wikia.com/2ZP45-9-X-51_(Earth-616)#,X-51,149,NO,MALE,1992,Died in Deathlok Vol 2 #5. JK that was actuall...

# Resetear el indice

In [60]:
# Resetea el índice

df_avengers = df_avengers.reset_index()